body {
  position: fixed;
  top: 0;
  left: 0;
  font-weight: lighter;
  color: $bgc_rev;
}
.flex {
  display: flex;
  &.center {
    // width: 100%;
    align-items: center;
    justify-content: center;
  }
  &.between {
    align-items: center;
    justify-content: space-between;
  }
  .flex-1 {
    flex: 1;
  }
}


.view {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  transition: .5s;
}

.scroll {
  height: calc(100% - 5rem);
  overflow: auto;
}

.icon {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  &.s {
    width: 2rem;
    height: 2rem;
  }
  &.m {
    width: 2.5rem;
    height: 2.5rem;
  }
  &.l {
    width: 4rem;
    height: 4rem;
  }
  &.check {
    width: 4rem;
    height: 1.5rem;
  }
}

.font-size-s {
  font-size: 1.3rem;
}

.font-size-m {
  font-size: 3rem;
}

.font-size-l {
  font-size: 4rem;
}

input,
select {
  width: 100%;
  padding: $input_padding;
  font-size: 1em;
  color: $input_color;
  background-color: $input_bg;
  border: 0;
  border-bottom: 1px solid $bgc_rev;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  &:focus {
    outline: 0;
  }
}

button {
  &:focus {
    outline: 0;
  }
}

.form-select {
  position: relative;
  &:after {
    position: absolute;
    top: $input_padding + .5em;
    right: $input_padding;
    width: 16px;
    height: 10px;
    background-image: url('../images/select-arrow.svg');
    content: '';
  }
}

.form-button {
  position: relative;
  padding: $input_padding;
  margin: 1em 0;
  font-size: 1.2em;
  color: $input_color;
  background-color: $input_bg;
  border: 0;
  -webkit-appearance: none;
  &.check {
    $_icon_size: 37px;
    padding-right: calc(#{$_icon_size} + .5em);
    &:after {
      position: absolute;
      top: calc(50% - #{$_icon_size}/2);
      right: 0;
      width: $_icon_size;
      height: $_icon_size;
      background-image: url('../images/button-check.svg');
      content: '';
    }
  }
}

.tac {
  text-align: center;
}
